<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <title>AU CSE Journal Finder</title>

    <style>
        .similarity {
            display: inline-block;
            height: 4px;
            background-color: orange;
            border-radius: 2px;
            transition: width 600ms ease-in-out;
            width: 60%;

        }

        @import url('https://fonts.googleapis.com/css?family=Alegreya&display=swap');   
        body {
            font-family: 'Alegreya', serif;
        }
    </style>

</head>

<body>

    <!-- Just an image -->
    <nav class="navbar navbar-light bg-light">
        <div class="container">
            <a class="navbar-brand" href="/">
                <img src="https://pbs.twimg.com/profile_images/1004819920998330370/VjkEoGvp.jpg" width="50" alt="">
                Akdeniz University CSE Journal Finder
            </a>
        </div>
    </nav>

    <div class="container pt-4">
        <form action="/" , method="POST">
            <div class="form-group">
                <textarea class="form-control" id="abstract" name="abstract"
                    placeholder="Enter abstract here..."></textarea>
            </div>
            <div class="form-group" style="text-align:center">
                <input type="submit" class="btn btn-info" value="Search">
            </div>

        </form>
    </div>

    <div class="container results">
        <hr />

        <table class="table">
            <thead>
                <tr style="text-align:center">
                    <th scope="col" style="width: 200px; border-right: 1px solid #ddd; background-color: #eee"">Similarity</th>
                    <th scope="col" style="background-color: #eee">Article</th>
                </tr>
            </thead>
            <tbody>

                {% for item in sorted_data %}
                <tr>
                    <td style="text-align:center; border-right: 1px solid #ddd">

                        {% if item[2] * 100 < 30 %}
                        {% set color = 'bg-danger' %}
                        {% elif item[2] * 100 < 60 %}
                        {% set color = 'bg-warning' %}
                        {% else %}
                        {% set color = 'bg-success' %}
                        {% endif %}

                        <div class="similarity {{color}}" style="width:{{item[2] * 100}}%"></div>
                        <span class="d-block pt-2">
                            {{'%0.2f'| format(item[2]|float)}}%
                        </span>
                    </td>
                    <td>
                        <div>
                            <b>{{item[0]}}</b>
                        </div>
                        <hr />
                        <p class="px-2 pb-2">
                            <b>Abstract:</b> {{item[1]}}
                        </p>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>


        {% if no_result %}
        <h3 style="text-align:center">
            No match found!
        </h3>
        {% endif %}
    </div>

    <script src="{{ url_for('static', filename='js/jquery-3.3.1.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/popper.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>

</body>

</html>